::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  scrollbar-face-color: #333;
  scrollbar-track-color: #f4f4f4;
  scrollbar-arrow-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  text-align: center;
  padding: 1.5rem;
  background-color: #333;
  color: #fff;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0px;
}

section {
  width: 80%;
  padding: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #333;
  color: #fff;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

#projects-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
}

.project {
  flex: 0 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 20rem;
  min-height: 14rem;
}

.project a {
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.project a:hover {
  background-color: rgb(220, 209, 209);
  color: black;
}

.project h3 {
  text-wrap: wrap;
  min-height: 2rem;
  max-height: 2rem;
}

.project p {
  min-height: 3rem;
  text-wrap: wrap;
  max-height: 9.7rem;
  max-width: 23rem;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 32px;
  color: #a99c9c;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fff;
}

.carousel_btns{
  display: flex;
  justify-content: space-between;
}

.carousel_btn{
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.carousel_btn:hover {
  background-color: rgb(220, 209, 209);
  color: black;
}